{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <br><br>
    <form action="/login" method="POST">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" autocomplete="off" placeholder="Username" name="username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" placeholder="Password" name="password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}